{% extends 'PC/base/baseShow.html' %}
{% block title %}
我的访问记录
{% endblock %}
{% block style %}
<style>
.show-body-card-footer{
    text-align: center;
}
.show-body-card{
    height: 230px;
}
</style>
{% endblock %}
{% block body-title %}
我的访问记录
{% endblock %}
{% block show-body %}
    {% if page.object_list.count != 0 %}
        <div class="table-box">
            <table class="show-table">
                <thead>
                <tr>
                    <th>用户</th>
                    <th>登录时间</th>
                    <th>IP</th>
                    <th>浏览器</th>
                    <th>操作系统</th>
                    <th>设备</th>
                </tr>
                </thead>
                <tbody>
                {% for log in page.object_list %}
                    <tr>
                        <td>{{ log.login_user }}</td>
                        <td>{{ log.login_time }}</td>
                        <td>{{ log.login_ip }}</td>
                        <td>{{ log.login_browser }}</td>
                        <td>{{ log.login_system }}</td>
                        <td>{{ log.login_device }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{#    {% if paginator == '' %}#}
{#        <p style="text-align: center;font-size: 2em;background-color: #1f8dd6;color: white;">>>抱歉，未找到您的登录记录<<</p>#}
{#    {% else %}#}
{#        <div class="pure-g">#}
{#        {% for log in paginator %}#}
{#            <div class="pure-u-1 pure-u-md-1-3">#}
{#            <div class="show-body-card">#}
{#                <div class="show-body-card-header">#}
{#                    <div class="inventory-name"><label>用户名</label> {{ log.login_user.user_name }}</div>#}
{#                    <div class="inventory-id"><label>ID</label> {{ log.login_user.user_id }}</div>#}
{#                </div>#}
{#                <div class="show-body-card-body">#}
{#                    登录IP：{{ log.login_ip }}<br>#}
{#                    浏览器：{{ log.login_browser }}<br>#}
{#                    操作系统：{{ log.login_system }}<br>#}
{#                    设备：{{ log.login_device }}<br>#}
{#                    登录位置：{{ log.login_location }}<br>#}
{#                </div>#}
{#                <div class="show-body-card-footer">{{ log.login_time }}</div>#}
{#            </div>#}
{#            </div>#}
{#        {% endfor %}#}
{#        </div>#}
{#    {% endif %}#}
{% endblock %}