{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1281820_jae5r1wdpjn.css">
    <link rel="stylesheet" href="{% static 'PC/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'PC/css/form.css' %}">
    <script src="{% static 'PC/js/jquery-3.4.1.min.js' %}"></script>
    <style>
        .pure-form .pure-control-group label {
            width: 3em;
        }

        @media only screen and (max-width: 480px){
            .pure-form button[type=submit] {
                margin: 1em auto 0 auto;
            }
        }

    </style>
</head>
<body>
<div class="body-title"><label>登录</label></div>
<div class="form">
    <form class="pure-form pure-form-aligned" method="post" action="">
        <fieldset>
            {% csrf_token %}
            <div class="pure-control-group">
                <label for="user_id">账号</label>
                <input type="text" name="user_id" id="user_id" value="{{ user_id }}" placeholder="请输入账号" maxlength="12" required/>
            </div>
            <div class="pure-control-group">
                <label for="user_password">密码</label>
                <input type="password" name="user_password" id="user_password" placeholder="请输入密码" maxlength="20"
                       required/>
            </div>
            <div class="error">{{ error }}</div>
            <button class="form-button" type="submit">登录</button>
        </fieldset>
    </form>
</div>
</body>
</html>