{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'PC/css/base.css' %}">
{% block link %}

{% endblock %}
</head>
<body>
    <div class="header">
        <div class="header-logo">
            <label>MYZ 库存管理系统</label>
        </div>
        <div class="header-menu">
            <ul class="header-menu-ul">
                <li class="header-menu-li">
                    <a href="{% url 'BPlan:index' %}" id="header-menu-1" class="header-menu-a">主页</a>
                </li>
                <li class="header-menu-li header-menu-has-children">
                    <a href="#" id="header-menu-2" class="header-menu-a">库存</a><br>
                    <a href="#" class="header-menu-a header-menu-children">查看全部</a><br>
                    <a href="#" class="header-menu-a header-menu-children">查找</a><br>
                </li>
                <li class="header-menu-li header-menu-has-children">
                    <a href="#" id="header-menu-3" class="header-menu-a">数据</a><br>
                    <a href="#" class="header-menu-a header-menu-children">每日出入库</a><br>
                    <a href="#" class="header-menu-a header-menu-children">库存统计</a><br>
                </li>
                <li class="header-menu-li header-menu-has-children">
                    <a href="#" id="header-menu-4" class="header-menu-a">批量操作</a><br>
                    <a href="#" class="header-menu-a header-menu-children">批量入库</a><br>
                    <a href="#" class="header-menu-a header-menu-children">批量出库</a><br>
                </li>
                <li class="header-menu-li header-menu-has-children">
                    <a href="#" id="header-menu-5" class="header-menu-a">我的</a><br>
                    <a href="{% url 'BPlan:change_password_html' %}" class="header-menu-a header-menu-children">修改密码</a><br>
                    <a href="{% url 'BPlan:change_question_html' %}" class="header-menu-a header-menu-children">修改密保问题</a><br>
                </li>
            </ul>
        </div>
        <div class="header-button">
            <a class="header-menu-a header-button-a" href="{% url 'BPlan:login_html' %}">登录</a>
            <a class="header-menu-a header-button-a" href="{% url 'BPlan:register_html' %}">注册</a>
        </div>
        <div class="header-user">
            <img class="header-user-icon" src="{% static 'PC/img/员工.png' %}">
            <span class="header-user-name"></span>
            <a class="header-menu-a header-button-a header-button-a-logout" href="{% url 'BPlan:login_logout' %}">退出登录</a>
        </div>
    </div>
{% block body %}

{% endblock %}
    <footer class="footer">
        <p>声明：本网站仅作为南京理工大学电光学院科研训练项目《多用户登录的库存管理系统》展示使用</p>
        <p>本网站版权归马子轩所有</p>
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type="text/javascript">
    function refreshSrc(){  //刷新验证码图片
            $('.code').attr('src', "{% url 'BPlan:getVerificationCode' %}?" + new Date().getTime());
        }
    $(document).ready(function () {
        $.ajax({
            url: '{% url 'BPlan:whether_login' %}',
            success: function(result){
                if (result['login_status'] === 0) {
                    $('.header-button').css('display', 'block');
                } else{
                    $('.header-user').css('display', 'block');
                    $('.header-user-name').text(result['user_name']);
                }
            }
        })
    })
</script>
{% block script %}

{% endblock %}

</html>