{% extends 'PC/base.html' %}
{% block link %}
<style>
canvas{
    background-color: white;
}
.chart{
    width: 80%;
    height: auto;
    margin: 20px auto;
}
@media screen and (max-width: 768px){
    .chart{
        width: 90%;
    }
}
</style>
{% block style %}{% endblock %}
{% endblock %}
{% block body %}
    <div class="body-title">{% block body-title %}{% endblock %}</div>
    <div class="chart">
    {% block chart-canvas %}

    {% endblock %}
    </div>

{% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.bundle.min.js" integrity="sha256-xKeoJ50pzbUGkpQxDYHD7o7hxe0LaOGeguUidbq6vis=" crossorigin="anonymous"></script>
<script>
var options = {
    layout: {
        padding: {
            left: 10,
            right: 10,
            top: 10,
            bottom: 10,
        }
    },
    legend: {
        labels: {
            fontColor: 'gray',
            fontSize: 16,
        }
    },
    scales: {
        yAxes: [{
            ticks: {
                beginAtZero: true,
                suggestedMax: 10,
            }
        }]
    },
    title: { // 图表标题
        display: true,
        text: {% block chart-title %}{% endblock %},
        fontSize: 18, // 字号18px
    }
};
</script>
{% block script-more %}

{% endblock %}
{% endblock %}