{% extends 'PC/base.html' %}
{% load staticfiles %}
{% block link %}
<link rel="stylesheet" href="{% static 'PC/css/show.css' %}">
{% block style %}{% endblock %}
{% endblock %}
{% block body %}
    <div class="body-title">{% block body-title %}{% endblock %}</div>
    <div class="show-header">
        <div class="show-body-card-header">{% block show-title-1 %}{% endblock %}</div>
        <div class="show-body-card-body">{% block show-title-2 %}{% endblock %}</div>
        <div class="show-body-card-footer">{% block show-title-3 %}{% endblock %}</div>
    </div>
    {% block show-body %}{% endblock %}
    <div class="show-footer">
        <a      {% if paginator.has_previous %}
           href="./?page={{ paginator.previous_page_number }}"
                {% else %}
           style="color: gray;"
                {% endif %}
        >上一页</a>
        <a>{{ paginator.number }}/{{ paginator.paginator.num_pages }}</a>
        <a      {% if paginator.has_next %}
           href="./?page={{ paginator.next_page_number }}"
                {% else %}
           style="color: gray;"
                {% endif %}
        >下一页</a>
    </div>
{% endblock %}