{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1281820_688w7olbo3r.css">
    <link rel="stylesheet" href="{% static 'PC/css/base.css' %}">
{% block link %}

{% endblock %}
</head>
<body>
    <div class="body-left">
    <div class="header">
        <div class="header-logo">
            <label>MYZ 库存管理系统</label>
        </div>
        <div class="header-button">
            <hr class="header-line">
            <a class="header-menu-a header-button-a" href="{% url 'BPlan:login_html' %}"><i class="iconfont icon-login"></i> 登录</a>
            <a class="header-menu-a header-button-a" href="{% url 'BPlan:register_html' %}"><i class="iconfont icon-register"></i> 注册</a>
        </div>
        <div class="header-user">
            <hr class="header-line">
            <i class="header-user-name iconfont icon-yuangong"></i>
            <a class="header-menu-a header-button-a header-button-a-logout" href="{% url 'BPlan:login_logout' %}"><i class="iconfont icon-logout"></i> 退出登录</a>
        </div>
        <ul class="header-menu-ul">
            <li class="header-menu-li">
                <hr class="header-line">
                <a href="{% url 'BPlan:index' %}" id="header-menu-1" class="header-menu-a"><i class="iconfont icon-shouye"></i> 主页</a>
            </li>
            <li class="header-menu-li">
                <hr class="header-line">
                <i class="iconfont icon-kucun"></i> 库存
                <ul class="header-menu-ul">
                    <li class="header-menu-li"><a href="{% url 'BPlan:inventory_show_all_html' %}" class="header-menu-a"><i class="iconfont icon-cangchu"></i> 查看全部</a></li>
                    <li class="header-menu-li"><a href="#" class="header-menu-a"><i class="iconfont icon-kucunchaxun"></i> 查找</a></li>
                    <li class="header-menu-li"><a href="{% url 'BPlan:inventory_create_html' %}" class="header-menu-a"><i class="iconfont icon-create"></i> 创建库存</a></li>
                </ul>
            </li>
            <li class="header-menu-li header-menu-has-children">
                <hr class="header-line">
                <i class="iconfont icon-tongji"></i> 数据
                <ul class="header-menu-ul">
                    <li class="header-menu-li"><a href="#" class="header-menu-a">每日出入库</a></li>
                    <li class="header-menu-li"><a href="#" class="header-menu-a">库存统计</a></li>
                </ul>
            </li>
            <li class="header-menu-li header-menu-has-children">
                <hr class="header-line">
                <i class="iconfont icon-piliangcaozuo"></i> 批量操作
                <ul class="header-menu-ul">
                    <li class="header-menu-li"><a href="#" class="header-menu-a"><i class="iconfont icon-ruku"></i> 批量入库</a></li>
                    <li class="header-menu-li"><a href="#" class="header-menu-a"><i class="iconfont icon-chuku"></i> 批量出库</a></li>
                </ul>
            </li>
            <li class="header-menu-li header-menu-has-children">
                <hr class="header-line">
                <i class="iconfont icon-yuangong"></i> 我的
                <ul class="header-menu-ul">
                    <li class="header-menu-li"><a href="{% url 'BPlan:change_password_html' %}" class="header-menu-a"  id="change-password"><i class="iconfont icon-xiugaimima"></i> 修改密码</a></li>
                    <li class="header-menu-li"><a href="{% url 'BPlan:change_question_html' %}" class="header-menu-a"><i class="iconfont icon-anquan"></i> 更改密保问题</a></li>
                    <li class="header-menu-li"><a href="{% url 'BPlan:change_personal_information_html' %}?page=show" class="header-menu-a"><i class="iconfont icon-personal-information"></i> 个人信息</a></li>
                    <li class="header-menu-li"><a href="{% url 'BPlan:change_personal_information_html' %}?page=change" class="header-menu-a"><i class="iconfont icon-change"></i> 修改个人信息</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="header-picker">
        <i class="iconfont icon-header-picker"></i>
    </div>
    </div>
    <div class="body-right">
        {% block body %}

        {% endblock %}
    </div>

    <footer class="footer">
        <p>声明：本网站仅作为南京理工大学电光学院科研训练项目《多用户登录的库存管理系统》展示使用</p>
        <p>本网站版权归MYZ所有</p>
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type="text/javascript">
    function refreshSrc(){  //刷新验证码图片
            $('.code').attr('src', "{% url 'BPlan:getVerificationCode' %}?" + new Date().getTime());
        }
    $(document).ready(function () {
        $.ajax({
            url: '{% url 'BPlan:whether_login' %}',
            success: function(result){
                if (result['login_status'] === 0) {
                    $('.header-button').css('display', 'block');
                } else{
                    $('.header-user').css('display', 'block');
                    $('.header-user-name').text(result['user_name']);
                }
            }
        })
    })
</script>
{% block script %}

{% endblock %}

</html>