{% extends 'PC/baseForm.html' %}
{% load staticfiles %}
{% block title %}
修改密码
{% endblock %}
{% block style %}
    <style type="text/css">
        .pure-form-aligned .pure-control-group label {
            width: 8em;
        }
        .form{
            width: 900px;
        }
    </style>
{% endblock %}
{% block body-title %}
修改密码|忘记密码
{% endblock %}
{% block form %}
    <div class="pure-g">
        <div class="pure-u-1-2">
            <div class="pure-control-group">
                <label for="user_id">您的账号</label>
                <input type="text" name="user_id" id="user_id" value="{{ user_id }}" placeholder="请输入账号" maxlength="12" required/>
            </div>

            <div class="pure-control-group">
                <label for="user_question">您的密保问题</label>
                <select name="user_question" id="user_question">
                    {% for k,v in user_question_choice %}
                        <option value="{{ k }}">{{ v }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="pure-control-group">
                <label for="user_question_answer">您的密保问题答案</label>
                <input type="text" id="user_question_answer" name="user_question_answer" value="" placeholder="请输入密保问题答案" maxlength="20" required/>
            </div>
        </div>
        <div class="pure-u-1-2">
            <div class="pure-control-group">
                <label for="user_password">请输入新的密码</label>
                <input type="password" name="user_password" id="user_password" placeholder="请输入密码" maxlength="20" required/>
            </div>
            <div class="pure-control-group">
                <label for="user_password_again">确认密码</label>
                <input type="password" name="user_password_again" id="user_password_again" placeholder="再次输入密码" maxlength="20" required/>
            </div>

            <div class="pure-control-group">
                <label for="code">验证码</label>
                <input type="text" name="code" id="code" value="" placeholder="验证码" maxlength="4" minlength="4" required style="width: calc(17em - 100px - 5px)"/>
                <img class="code" onclick="refreshSrc()"/>
            </div>
        </div>
    </div>
{% endblock %}
{% block button-text %}<i class="iconfont icon-change"></i> 确认修改{% endblock %}
{% block script %}
<script type="text/javascript">
$(document).ready(function () {
    $('#header-menu-5').css('color', '#4ab2f6');  /*设置我的标题颜色为蓝色*/
    refreshSrc();
    let error = $('.error');
    let login_button = $('.form-button');
    let user_id = $('#user_id');
    let user_password = $('#user_password');
    let user_password_again = $('#user_password_again');
    let code = $('#code');
    login_button.click(function () {
        if (user_password.val() !== user_password_again.val()) {
            error.text('两次输入的密码不一致');
            user_password.focus().val("");
            user_password_again.val("");
            return 0;
        }
        login_button.html('<i class="iconfont icon-jiazai"></i> 请稍后...').attr('disabled', 'disabled');  // 改变button中的文字
        $.ajax({
            url: "{% url 'BPlan:change_password_check' %}",
            type: 'POST',
            data: {
                'user_id': user_id.val(),
                'user_password': user_password.val(),
                'code': code.val(),
                'user_question': $('#user_question').val(),
                'user_question_answer': $('#user_question_answer').val(),
                "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val(),
            },
            success: function (result) {
                if (result === 'codeWrong'){
                    error.text('验证码错误！');
                    code.focus().val("");
                    refreshSrc();
                    login_button.html('<i class="iconfont icon-change"></i> 确认修改').removeAttr('disabled');
                    return 0;
                }
                if (result === 'idDoesNotExist') {
                    error.text('您输入的账号不存在');
                    user_id.focus().val("");
                    code.val("");
                    refreshSrc();
                    login_button.html('<i class="iconfont icon-change"></i> 确认修改').removeAttr('disabled');
                    return 0;
                }
                if (result === 'questionWrong') {
                    error.text('您的密保答案有误');
                    $('#user_question_answer').focus().val("");
                    code.val("");
                    refreshSrc();
                    login_button.html('<i class="iconfont icon-change"></i> 确认修改').removeAttr('disabled');
                    return 0;
                }
                if (result === 'success') {
                    error.text("");
                    $("form").hide(1000);
                    $(".body-title").html("修改密码成功<br>请重新<a href='{% url 'BPlan:login_html' %}'>登录</a>");
                    $.ajax({
                        url: '{% url 'BPlan:whether_login' %}',
                        success: function(result){
                            if (result['login_status'] === 0) {
                                $('.header-button').css('display', 'block');
                                $('.header-user').css('display', 'none');
                            } else{
                                $('.header-user').css('display', 'block');
                                $('.header-button').css('display', 'none');
                                $('.header-user-name').text(result['user_name']);
                            }
                        }
                    });
                    return 1;
                }
            },
        })
    })
})
</script>
{% endblock %}
