<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>修改密码</title>
	</head>
	<body>
		<form action="{% url 'BPlan:change_password_check' %}" method="post">
        {% csrf_token %}
			<input type="text" id="user_id" name="user_id" value="{{ user_id }}" required="required" maxlength="12" placeholder="请输入用户id" /><br>
			<input type="text" id="user_name" name="user_name" value="" required="required" maxlength="12" placeholder="请输入您的姓名" /><br>
			<select name="user_question" id="user_question">
                {% for k,v in user_question_choice %}
                <option value="{{ k }}">{{ v }}</option>
                {% endfor %}
			</select><br>
			<input type="text" id="user_question_answer" name="user_question_answer" value="" maxlength="20" placeholder="请输入密保问题答案" required="required"/><br>
            <input type="password" id="user_password" name="user_password" value="" maxlength="20" placeholder="请输入新密码" required="required"/><br>
			<input type="submit" value="提交"/>
		</form>
    </body>
</html>
