{% extends 'PC/baseForm.html' %}
{% load staticfiles %}
{% block title %}
更改密保问题
{% endblock %}
{% block style %}

{% endblock %}
{% block form-title %}
更改密保问题
{% endblock %}
{% block form %}
    <div class="pure-control-group">
        <label for="user_password">登录密码</label>
        <input type="password" name="user_password" id="user_password" placeholder="请输入密码" maxlength="20" required/>
    </div>
    <div class="pure-control-group">
        <label for="user_question">新的密保问题</label>
        <select name="user_question" id="user_question">
            {% for k,v in user_question_choice %}
                <option value="{{ k }}">{{ v }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="pure-control-group">
        <label for="user_question_answer">新的密保问题答案</label>
        <input type="text" id="user_question_answer" name="user_question_answer" value="" placeholder="请输入密保问题答案" maxlength="20" required/>
    </div>
    <div class="pure-control-group">
        <label for="code">验证码</label>
        <input type="text" name="code" id="code" value="" placeholder="验证码" maxlength="4" minlength="4" required style="width: calc(17em - 100px - 5px)"/>
        <img class="code" onclick="refreshSrc()"/>
    </div>
{% endblock %}
{% block button-text %}
确认修改
{% endblock %}
{% block script %}
<script type="text/javascript">
$(document).ready(function () {
    refreshSrc();
    let error = $('.error');
    let login_button = $('.form-button');
    let user_password = $('#user_password');
    let code = $('#code');
    login_button.click(function () {
        login_button.text('请稍后...').attr('disabled', 'disabled');  // 改变button中的文字
        $.ajax({
            url: "{% url 'BPlan:change_question_check' %}",
            type: 'POST',
            data: {
                'user_password': user_password.val(),
                'code': code.val(),
                'user_question': $('#user_question').val(),
                'user_question_answer': $('#user_question_answer').val(),
                "csrfmiddlewaretoken": $("[name='csrfmiddlewaretoken']").val(),
            },
            success: function (result) {
                if (result === 'codeWrong'){
                    error.text('验证码错误！');
                    code.focus().val("");
                    refreshSrc();
                    login_button.text('确认修改').removeAttr('disabled');
                    return 0;
                }
                if (result === 'passwordWrong') {
                    error.text('您输入的密码有误');
                    user_password.focus().val("");
                    code.val("");
                    refreshSrc();
                    login_button.text('确认修改').removeAttr('disabled');
                    return 0;
                }
                if (result === 'success') {
                    error.text("");
                    $("form").hide(1000);
                    $(".form-title").text("修改密保问题成功");
                    return 1;
                }
            },
        })
    })
})
</script>
{% endblock %}
