{% extends 'PC/baseForm.html' %}
{% load staticfiles %}
{% block title %}修改个人信息{% endblock %}
{% block body-title %}
修改个人信息
{% endblock %}
{% block form %}
    <div class="pure-control-group">
        <label for="user_name">姓名</label>
        <input type="text" name="user_name" id="user_name" value="{{ user.user_name }}" placeholder="请输入姓名" maxlength="12" required/>
    </div>
    <div class="pure-control-group">
        <label for="user_gender">性别</label>
        <select name="user_gender" id="user_gender">
            {% for k,v in user.USER_GENDER_CHOICE %}
                <option value="{{ k }}" {% if user.user_gender == k %} selected {% endif %}>{{ v }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="pure-control-group">
        <label for="user_identity">用户身份</label>
        <select name="user_identity" id="user_identity">
            {% for k,v in user.USER_IDENTITY_CHOICE %}
                <option value="{{ k }}" {% if user.user_identity == k %} selected {% endif %}>{{ v }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="pure-control-group">
        <label for="code">验证码</label>
        <input type="text" name="code" id="code" value="" placeholder="验证码" maxlength="4" minlength="4" required style="width: calc(17em - 100px - 5px)"/>
        <img class="code" onclick="refreshSrc()"/>
    </div>
{% endblock %}
{% block button-text %}
<i class="iconfont icon-change"></i> 确认修改
{% endblock %}
{% block script %}
<script>
$(document).ready(function () {
    $('#header-menu-5').css('color', '#4ab2f6');  /*设置我的标题颜色为蓝色*/
    refreshSrc();
    let error = $('.error');
    let change_button = $('.form-button');
    let code = $('#code');
    change_button.click(function () {
        change_button.html('<i class="iconfont icon-jiazai"></i> 请稍后...').attr('disabled', 'disabled');  // 改变button中的文字
        $.ajax({
            url: "{% url 'BPlan:change_personal_information_check' %}",
            type: "POST",
            data: {
                'user_name': $('#user_name').val(),
                'user_gender': $('#user_gender').val(),
                'user_identity': $('#user_identity').val(),
                'code': code.val(),
                "csrfmiddlewaretoken":$("[name='csrfmiddlewaretoken']").val(),
            },
            success: function (result) {
                if (result === 'codeWrong'){
                    error.text('验证码错误！');
                    code.focus().val("");
                    refreshSrc();
                    change_button.html('<i class="iconfont icon-change"></i> 确认修改').removeAttr('disabled');
                    return 0;
                }
                if (result === 'success') {
                    error.text("");
                    $("form").hide(1000);
                    $(".body-title").text("修改成功");
                    return 1;
                }
            }
        })
    })
})
</script>
{% endblock %}
