<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>显示全部的库存</title>
	</head>
	<body>
		<table border="2" cellspacing="0" cellpadding="2">
			<tr>
{#				<th>库存编号</th>#}
				<th>库存名称</th>
				<th>库存类别</th>
				<th>数量</th>
{#				<th>单位</th>#}
				<th>详细信息</th>
                <th>操作</th>
			</tr>
            {% for foo in inventory_list %}
            <tr>
                <td>{{ foo.inventory_name }}</td>
                <td>{{ foo.inventory_category }}</td>
                <td>{{ foo.inventory_num }}{{ foo.inventory_unit }}</td>
                <td>{{ foo.inventory_details | slice:':20'}}...</td>
                <td>
                    <a href="{% url 'BPlan:inventory_change_html' %}?id={{ foo.inventory_id }}&type=0">入库</a>
                    <a href="{% url 'BPlan:inventory_change_html' %}?id={{ foo.inventory_id }}&type=1">出库</a>
                    <a href="{% url 'BPlan:inventory_show_detail_html' %}?id={{ foo.inventory_id }}">详细信息</a>
                    <a href="{% url 'BPlan:inventory_operation_html_inventory' %}?id={{ foo.inventory_id }}">操作记录</a>
                </td>
            </tr>
            {% endfor %}

		</table>
	</body>
</html>
