{% extends 'PC/baseChart.html' %}
{% block title %}
每日出入库
{% endblock %}
{% block style %}

{% endblock %}
{% block body-title %}
每日出入库
{% endblock %}
{% block chart-canvas %}
<canvas id="lineChart" width="400" height="200"></canvas>
{% endblock %}
{% block script-more %}
<script>
$(document).ready(function () {
    let lineChart = document.getElementById('lineChart').getContext('2d');
    if (window.screen.width < 768) { // 当屏幕缩小到768px以下时，改变chart的纵横比
        $('#lineChart').attr({
            'height': '250vw',
            'width': '',
        });
    }
    let str = [
        {% for foo in time_label %}
            '{{ foo.month }}月{{ foo.day }}日',
        {% endfor %}
    ]; //横轴内容
    str.reverse(); //将时间轴反置
    options.title.text = '每日出入库量统计';

    var chart1 = new Chart(lineChart, {
        type: 'line',
        data: {
            labels: str,
            datasets: [{
                label: '入库',
                data: [{% for foo in in_num %}{{ foo }},{% endfor %}].reverse(),
                backgroundColor: 'rgba(54, 162, 235, 0.2)',
                borderColor: '#36a2eb',
                pointBorderColor: 'rgba(54, 162, 235, 0.2)',
                pointBorderWidth: '5',
                pointRadius: '4',
                pointBackgroundColor: '#36a2eb',
                pointHoverRadius: '6',
                pointHoverBorderColor: 'rgba(54, 162, 235, 0.2)',
                pointHoverBorderWidth: '7',
            },{
                label: '出库',
                data: [{% for foo in out_num %}{{ foo }},{% endfor %}].reverse(),
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgb(255, 99, 132)',
                pointBorderColor: 'rgba(255, 99, 132, 0.2)',
                pointBorderWidth: '5',
                pointRadius: '4',
                pointBackgroundColor: 'rgb(255, 99, 132)',
                pointHoverRadius: '6',
                pointHoverBorderColor: 'rgba(255, 99, 132, 0.2)',
                pointHoverBorderWidth: '7',
            },{
                label: '创建',
                data: [{% for foo in create_num %}{{ foo }}, {% endfor %}].reverse(),
                backgroundColor: 'rgb(255, 205, 86, 0.2)',
                borderColor: 'rgb(255, 205, 86)',
                pointBorderColor: 'rgba(255, 205, 86, 0.2)',
                pointBorderWidth: '5',
                pointRadius: '4',
                pointBackgroundColor: 'rgb(255, 205, 86)',
                pointHoverRadius: '6',
                pointHoverBorderColor: 'rgba(255, 205, 86, 0.2)',
                pointHoverBorderWidth: '7',
            }],
        },
        options: options,
    })
})
</script>
{% endblock %}