{% extends 'PC/baseShow.html' %}
{% load staticfiles %}
{% block title %}
全部库存
{% endblock %}
{% block body-title %}
全部库存
{% endblock %}
{% block show-title-1 %}基本信息{% endblock %}
{% block show-title-2 %}详细信息{% endblock %}
{% block show-title-3 %}操作{% endblock %}
{% block show-body %}
    {% for inventory in paginator %}
        <div class="show-body-card">
            <div class="show-body-card-header">
                <div class="inventory-name"><i class="iconfont icon-kucun"></i> {{ inventory.inventory_name }}</div>
                <div class="inventory-id"><i class="iconfont icon-user-id"></i> {{ inventory.inventory_id }}&nbsp;&nbsp;<i class="iconfont icon-login"></i> {{ inventory.inventory_create_user_name }}&nbsp;&nbsp;<i class="iconfont icon-inventory"></i> {{ inventory.inventory_create_time.month }}月{{ inventory.inventory_create_time.day }}日</div>
            </div>
            <div class="show-body-card-body">
                {{ inventory.inventory_details | slice:'50' }}
            </div>
            <div class="show-body-card-footer">
                <a class="show-body-card-footer-a" href="{% url 'BPlan:inventory_change_html' %}?type=0&id={{ inventory.inventory_id }}">入库</a>
                <a class="show-body-card-footer-a" href="{% url 'BPlan:inventory_change_html' %}?type=1&id={{ inventory.inventory_id }}">出库</a>
                <a class="show-body-card-footer-a" href="{% url 'BPlan:inventory_show_detail_html' %}?id={{ inventory.inventory_id }}">详细信息</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}