{% extends 'PC/baseForm.html' %}
{% load staticfiles %}
{% block title %}创建新的库存项目{% endblock %}
{% block body-title %}创建新的库存项目{% endblock %}
{% block style %}
<style>
.pure-form .pure-control-group{
    text-align: left;
    padding-left: calc(3vw);
}
@media screen and (max-width: 768px){
    .pure-form .pure-control-group{
        text-align: left;
        padding-left: 0;
    }
}
</style>
{% endblock %}
{% block form %}
<div class="pure-control-group">
    <label for="inventory_id">库存id</label>
    <input type="text" id="inventory_id" name="inventory_id" value="" placeholder="请输入库存id" required maxlength="12"/>
</div>
<div class="pure-control-group">
    <label for="inventory_name">库存名称</label>
    <input type="text" id="inventory_name" name="inventory_name" value="" placeholder="请输入库存名称" required maxlength="20"/>
</div>
<div class="pure-control-group">
    <label for="inventory_category">库存类别</label>
    <input type="text" id="inventory_category" name="inventory_category" value="" placeholder="如：电阻" required maxlength="12"/>
</div>
<div class="pure-control-group">
    <label for="inventory_num">库存数量</label>
    <input type="number" id="inventory_num" name="inventory_num" value="" max="32768" min="0" required />
</div>
<div class="pure-control-group">
    <label for="inventory_unit">单位</label>
    <input type="text" id="inventory_unit" name="inventory_unit" value="个" placeholder="如：个" maxlength="12" required/>
</div>
<div class="pure-control-group">
    <label for="inventory_details">详细信息</label>
    <textarea rows="5" cols="20" maxlength="300" id="inventory_details" name="inventory_details" placeholder="请输入详细信息" required>无</textarea>
</div>
<div class="pure-control-group">
    <label for="code">验证码</label>
    <input type="text" name="code" id="code" value="" placeholder="验证码" maxlength="4" minlength="4" required style="width: calc(17em - 100px - 5px)"/>
    <img class="code" onclick="refreshSrc()"/>
</div>
{% endblock %}
{% block button-text %}
<i class="iconfont icon-wancheng"></i> 创建
{% endblock %}
{% block script %}
<script>
$(document).ready(function () {
    refreshSrc();
    let error = $('.error');
    let inventory_id = $('#inventory_id');
    let login_button = $('.form-button');
    let code = $('#code');
    login_button.click(function () {
        login_button.html('<i class="iconfont icon-jiazai"></i> 请稍后...').attr('disabled', 'disabled');  // 改变button中的文字
        if (NoEmpty('<i class="iconfont icon-wancheng"></i> 创建', error, login_button)){
            $.ajax({
                url: "{% url 'BPlan:inventory_create_add' %}",
                type: 'POST',
                data: {
                    'inventory_id': inventory_id.val(),
                    'inventory_name': $('#inventory_name').val(),
                    'code': code.val(),
                    'inventory_category': $('#inventory_category').val(),
                    'inventory_num': $('#inventory_num').val(),
                    'inventory_unit': $('#inventory_unit').val(),
                    'inventory_details': $('#inventory_details').val(),
                    "csrfmiddlewaretoken":$("[name='csrfmiddlewaretoken']").val(),
                },
                success: function (result) {
                    if (result === 'codeWrong'){
                        error.text('验证码错误！');
                        code.val("");
                        refreshSrc();
                        login_button.html('<i class="iconfont icon-wancheng"></i> 提交').removeAttr('disabled');
                        return 0;
                    }
                    if (result === 'idExist') {
                        error.text('您输入的库存id已经存在');
                        inventory_id.val("");
                        code.val("");
                        refreshSrc();
                        login_button.html('<i class="iconfont icon-wancheng"></i> 提交').removeAttr('disabled');
                        return 0;
                    }
                    if (result === 'success') {
                        error.text("");
                        $("form").hide(1000);
                        $(".body-title").html("<i class=\"iconfont icon-wancheng\"></i> 注册成功");
                        return 1;
                    }
                },
            })
        }

    })
})
</script>
{% endblock %}

