{% extends 'PC/baseForm.html'%}
{% block title %}
更改库存信息|{{ inventory.inventory_name }}
{% endblock %}
{% block body-title %}
更改库存信息|{{ inventory.inventory_name }}
{% endblock %}
{% block style %}
<style>
.pure-form .pure-control-group{
    text-align: left;
    padding-left: calc(3vw);
}
@media screen and (max-width: 768px){
    .pure-form .pure-control-group{
        text-align: left;
        padding-left: 0;
    }
}
</style>
{% endblock %}
{% block form %}
    <div class="pure-control-group">
        <label for="inventory_id">库存id</label>
        <input type="text" id="inventory_id" name="inventory_id" value="{{ inventory.inventory_id }}" placeholder="请输入库存名称" readonly maxlength="20"/>
    </div>
    <div class="pure-control-group">
        <label for="inventory_name">库存名称</label>
        <input type="text" id="inventory_name" name="inventory_name" value="{{ inventory.inventory_name }}" placeholder="请输入库存名称" required maxlength="20"/>
    </div>
    <div class="pure-control-group">
        <label for="inventory_category">库存类别</label>
        <input type="text" id="inventory_category" name="inventory_category" value="{{ inventory.inventory_category }}" required maxlength="12"/>
    </div>
    <div class="pure-control-group">
        <label for="inventory_unit">单位</label>
        <input type="text" id="inventory_unit" name="inventory_unit" value="{{ inventory.inventory_unit }}" maxlength="12" required/>
    </div>
    <div class="pure-control-group">
        <label for="inventory_details">详细信息</label>
        <textarea rows="5" cols="20" maxlength="300" id="inventory_details" name="inventory_details" placeholder="请输入详细信息" required>{{ inventory.inventory_details }}</textarea>
    </div>
{% endblock %}
{% block button-text %}
<i class="iconfont icon-wancheng"></i> 提交
{% endblock %}
{% block script %}
<script>
$(document).ready(function () {
    let error = $('.error');
    let inventory_id = $('#inventory_id');
    let login_button = $('.form-button');
    login_button.click(function () {
        login_button.html('<i class="iconfont icon-jiazai"></i> 请稍后...').attr('disabled', 'disabled');  // 改变button中的文字
        if (NoEmpty('<i class="iconfont icon-wancheng"></i> 提交', error, login_button)) {
            $.ajax({
                url: "{% url 'BPlan:inventory_change_detail' %}",
                type: 'POST',
                data: {
                    'inventory_id': inventory_id.val(),
                    'inventory_name': $('#inventory_name').val(),
                    'inventory_category': $('#inventory_category').val(),
                    'inventory_unit': $('#inventory_unit').val(),
                    'inventory_details': $('#inventory_details').val(),
                    "csrfmiddlewaretoken":$("[name='csrfmiddlewaretoken']").val(),
                },
                success: function () {
                    error.text("");
                    $("form").hide(1000);
                    $(".body-title").html("修改成功！");
                    return 1;
                },
            })
        }

    })
})
</script>
{% endblock %}