{% extends 'PC/base.html' %}
{% load staticfiles %}
{% block title %}登录{% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static 'PC/css/login.css' %}">
{% endblock %}
{% block body %}
    <div class="body-title"><label>MYZ 库存管理系统</label></div>
    <label class="login-title">用户登录</label>
    <div class="login">
        <form class="pure-form pure-form-aligned" method="post" action="#">
            <fieldset>
            {% csrf_token %}
                <div class="pure-control-group">
                    <label for="user_id">账号</label>
                    <input type="text" name="user_id" id="user_id" value="" placeholder="请输入账号" maxlength="12" required/>
                </div>

                <div class="pure-control-group">
                    <label for="user_password">密码</label>
                    <input type="password" name="user_password" id="user_password" placeholder="请输入密码" maxlength="20" required/>
                </div>

                <div class="pure-control-group">
                    <label for="code">验证码</label>
                    <input type="text" name="code" id="code" value="" placeholder="验证码" maxlength="4" minlength="4" required style="width: calc(17em - 100px - 5px)"/>
                    <img class="code" onclick="refreshSrc()"/>
                </div>
                <div class="error"></div>
                <button class="login-button" type="button">登录</button>
            </fieldset>
        </form>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript">
    $(document).ready(function () {

        refreshSrc();

        $('.login-button').click(function () {
            let user_id = $('#user_id').val();
            let user_password = $('#user_password').val();
            let code = $('#code').val();
            let error = $('.error');
            $.ajax({
                url: '{% url 'BPlan:login_check' %}',
                data: {
                    'user_id': user_id,
                    'user_password': user_password,
                    'code': code,
                    "csrfmiddlewaretoken":$("[name='csrfmiddlewaretoken']").val(),
                },
                type: 'POST',
                success: function (result) {
                    if (result === 'codeWrong'){
                        error.text('验证码错误！');
                        $('#code').focus().val("");
                        refreshSrc();
                        return 0;
                    }
                    if (result === 'idDoesNotExist') {
                        error.text('您输入的用户名不存在');
                        $('#user_id').focus();
                        $('#code').val("");
                        refreshSrc();
                        return 0;
                    }
                    if (result === 'passwordWrong') {
                        error.text('用户名或密码错误');
                        $('#user_password').focus();
                        $('#code').val("");
                        refreshSrc();
                        return 0;
                    }
                    if (result === 'successLogin') {
                        window.location.href="{% url 'BPlan:index' %}";
                        return 1;
                    }
                },
            })
        })
    })
    </script>
{% endblock %}
