<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
	<form action="{% url 'BPlan:register_check_base' %}" method="post">
    {% csrf_token %}
		<input type="text" id="user_id" name="user_id" value="" placeholder="请输入用户名" maxlength="12" required /><br>
		<input type="password" name="user_password" id="user_password" placeholder="请输入密码" maxlength="20" required /><br>
		<select name="user_group">
			{% for foo in group_list %}
			<option value="{{ foo.pk }}">{{ foo.group_id }}-{{ foo.group_name }}</option>
			{% endfor %}
		</select><br>
		<input type="submit" value="提交"/>
	</form>
</body>
</html>