{% extends 'PC/baseForm.html' %}
{% load staticfiles %}
{% block title %}注册{% endblock %}
{% block style %}
<style type="text/css">
.form{
    width: 800px;
}
</style>
{% endblock %}
{% block form-title %}注册新用户{% endblock %}
{% block form %}
<div class="pure-g">
    <div class="pure-u-1-2">
        <div class="pure-control-group">
            <label for="user_id">账号</label>
            <input type="text" name="user_id" id="user_id" value="" placeholder="请输入账号" maxlength="12" required/>
        </div>

        <div class="pure-control-group">
            <label for="user_password">密码</label>
            <input type="password" name="user_password" id="user_password" placeholder="请输入密码" maxlength="20" required/>
        </div>

        <div class="pure-control-group">
            <label for="user_password_again">确认密码</label>
            <input type="password" name="user_password_again" id="user_password_again" placeholder="再次输入密码" maxlength="20" required/>
        </div>
        <div class="pure-control-group">
            <label for="user_name">姓名</label>
            <input type="text" name="user_name" id="user_name" value="" placeholder="请输入姓名" maxlength="12" required/>
        </div>
        <div class="pure-control-group">
            <label for="code">验证码</label>
            <input type="text" name="code" id="code" value="" placeholder="验证码" maxlength="4" minlength="4" required style="width: calc(17em - 100px - 5px)"/>
            <img class="code" onclick="refreshSrc()"/>
        </div>
    </div>
    <div class="pure-u-1-2">
        <div class="pure-control-group">
            <label for="user_group">组别</label>
            <select name="user_group" id="user_group" required>
                {% for foo in group_list %}
                <option value="{{ foo.pk }}">{{ foo.group_id }}-{{ foo.group_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="pure-control-group">
            <label for="user_gender">性别</label>
            <select name="user_gender" id="user_gender">
                <option value="boy">男</option>
                <option value="girl">女</option>
            </select>
        </div>
        <div class="pure-control-group">
            <label for="user_identity">用户身份</label>
            <select name="user_identity" id="user_identity">
                {% for k,v in user_identity_choice %}
                    <option value="{{ k }}">{{ v }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="pure-control-group">
            <label for="user_question">密保问题</label>
            <select name="user_question" id="user_question">
                {% for k,v in user_question_choice %}
                    <option value="{{ k }}">{{ v }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="pure-control-group">
            <label for="user_question_answer">密保问题答案</label>
            <input type="text" id="user_question_answer" name="user_question_answer" value="" placeholder="请输入密保问题答案" maxlength="20" required/>
        </div>
    </div>
</div>
{% endblock %}
{% block button-text %}提交{% endblock %}
{% block script %}
<script type="text/javascript">
$(document).ready(function () {
    refreshSrc();
    let error = $('.error');
    let login_button = $('.form-button');
    let user_id = $('#user_id');
    let user_password = $('#user_password');
    let user_password_again = $('#user_password_again');
    let code = $('#code');
    login_button.click(function () {
        if (user_password.val() !== user_password_again.val()) {
            error.text('两次输入的密码不一致');
            user_password.focus().val("");
            user_password_again.val("");
            return 0;
        }
        login_button.text('请稍后...').attr('disabled', 'disabled');  // 改变button中的文字
        $.ajax({
            url: "{% url 'BPlan:register_check' %}",
            type: 'POST',
            data: {
                'user_id': user_id.val(),
                'user_password': user_password.val(),
                'user_name': $('#user_name').val(),
                'code': code.val(),
                'user_group': $('#user_group').val(),
                'user_gender': $('#user_gender').val(),
                'user_identity': $('#user_identity').val(),
                'user_question': $('#user_question').val(),
                'user_question_answer': $('#user_question_answer').val(),
                "csrfmiddlewaretoken":$("[name='csrfmiddlewaretoken']").val(),
            },
            success: function (result) {
                if (result === 'codeWrong'){
                    error.text('验证码错误！');
                    code.focus().val("");
                    refreshSrc();
                    login_button.text('提交').removeAttr('disabled');
                    return 0;
                }
                if (result === 'idExist') {
                    error.text('您输入的账号已经存在');
                    user_id.focus().val("");
                    code.val("");
                    refreshSrc();
                    login_button.text('提交').removeAttr('disabled');
                    return 0;
                }
                if (result === 'success') {
                    error.text("");
                    $("form").hide(1000);
                    $(".form-title").text("注册成功");
                    return 1;
                }
            },
        })
    })
})
</script>
{% endblock %}