{% extends 'PC/base/baseShow.html' %}
{% block title %}
库存操作记录
{% endblock %}
{% block style %}
<style>
.show-body-card{
    height: 240px;
}
.show-body-card-footer{
    text-align: center;
}
.show-body-card-footer>label{
    width: 40%;
    display: inline-block;
}
</style>
{% endblock %}
{% block body-title %}
库存操作记录
{% endblock %}
{% block show-body %}
    {% if page.object_list.count != 0 %}
        <div class="table-box">
            <table class="show-table">
                <thead>
                <tr>
                    <th>库存名称</th>
                    <th>操作时间</th>
                    <th>领用人</th>
                    <th>领用数量</th>
                    <th>剩余数量</th>
                    <th>IP</th>
                    <th>浏览器</th>
                    <th>操作系统</th>
                    <th>设备</th>
                </tr>
                </thead>
                <tbody>
                {% for operation in page.object_list %}
                    <tr>
                        <td>{{ operation.inventory_operation_object.inventory_name }}</td>
                        <td>{{ operation.inventory_operation_create_time }}</td>
                        <td>{{ operation.inventory_operation_user }}</td>
                        <td>{{ operation.get_inventory_operation_category_display }}{{ operation.inventory_operation_num }}{{ operation.inventory_operation_object.inventory_unit }}</td>
                        <td>{{ operation.inventory_num }}{{ operation.inventory_operation_object.inventory_unit }}</td>
                        <td>{{ operation.inventory_operation_user_ip }}</td>
                        <td>{{ operation.inventory_operation_user_browser }}</td>
                        <td>{{ operation.inventory_operation_user_system }}</td>
                        <td>{{ operation.inventory_operation_user_device }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{#    {% if paginator == '' %}#}
{#        <p class="not-found">>>抱歉，未找到相关的操作记录<<</p>#}
{#    {% elif paginator == 'Forbidden' %}#}
{#        <p class="not-found">>>无权限！你的身份不是管理员<<</p>#}
{#    {% else %}#}
{#    <div class="pure-g">#}
{#        {% for operation in paginator %}#}
{#            <div class="pure-u-1 pure-u-md-1-3">#}
{#            <div class="show-body-card">#}
{#                <div class="show-body-card-header">#}
{#                    <div class="inventory-name"><label>库存名称</label> {{ operation.inventory_operation_object.inventory_name }}</div>#}
{#                    <div class="inventory-id">{# <i class="iconfont icon-user-id"></i> {{ operation.inventory_operation_object.inventory_id }}&nbsp;&nbsp;<label>操作者</label> {{ operation.inventory_operation_user_name }}&nbsp;&nbsp;<label>操作日期</label>{{ operation.inventory_operation_create_time.month }}月{{ operation.inventory_operation_create_time.day }}日</div>#}
{#                </div>#}
{#                <div class="show-body-card-body">#}
{#                    操作者ID：{{ operation.inventory_operation_user }}<br>#}
{#                    操作详细时间：{{ operation.inventory_operation_create_time}}<br>#}
{#                    操作IP：{{ operation.inventory_operation_user_ip }}<br>#}
{#                    浏览器：{{ operation.inventory_operation_user_browser }}<br>#}
{#                    操作系统：{{ operation.inventory_operation_user_system }}<br>#}
{#                    设备：{{ operation.inventory_operation_user_device }}<br>#}
{#                </div>#}
{#                <div class="show-body-card-footer">#}
{#                    <label>{{ operation.get_inventory_operation_category_display }}数量：{{ operation.inventory_operation_num }}</label>#}
{#                    <label>剩余数量：{{ operation.inventory_num }}</label>#}
{#                </div>#}
{#            </div>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}
{#    {% endif %}#}
{% endblock %}