{% extends 'PC/base/baseShow.html' %}
{% block title %}
    查找客户信息
{% endblock %}
{% block style %}
    <style>
        .body-title {
            font-size: 1em;
            text-align: center;
            width: 85%;
            margin: 70px auto;
            color: black;
            border-bottom: white solid 2px;
        }

        .pure-form select {
            padding: 0 .6em;
            height: 38.8px;
        }

        .show-footer {
            display: none;
        }

        .search-button {
            color: white;
        {#display: block;#} height: 2.3em;
            width: 6em;
            margin: 0;
            padding: 0;
            background-color: var(--bkcolor);
            border: solid white 2px;
            border-radius: 3px;
            transition: background-color 0.5s;
            -webkit-transition: background-color 0.5s;
        }

        .search-button:hover {
            color: var(--bkcolor);
            background-color: white;
        }

        .show-body-card-footer-a {
            width: 48.5%;
        }

        @media only screen and (max-width: 768px) {
            .body-title {
                font-size: 1em;
                padding: 20px 0;
                letter-spacing: normal;
                margin: 20px auto;
                width: 100%;
            }

            .search-button {
                display: none;
            }
        }
    </style>
{% endblock %}
{% block body-title %}
    <form class="pure-form" method="get" action="{% url 'BPlan:customer_search' %}">
        <select id="search_type" name="search_type" style="display: inline-block">
            <option value="all">综合查询</option>
            <option value="name">客户名称</option>
            <option value="project_name">项目名称</option>
            <option value="user">业务填写人</option>
            <option value="contact">联系人</option>
            <option value="tel">联系方式</option>
            <option value="project_amount">项目金额</option>
            <option value="payment_method">付款方式</option>
            <option value="mark">主要条款</option>
        </select>
        <input type="search" name="search" id="search" placeholder="请输入关键词查询" required maxlength="20"
               style="display: inline-block; margin: 0" value="{{ search }}">
        <button type="submit" class="search-button">查询客户</button>
    </form>
{% endblock %}
{% block show-body %}
    {% if search_type == '' %}
    {% elif paginator.count == 0 %}
        <p class="not-found">>>抱歉，未找到相关库存信息<<</p>
    {% else %}
        <div class="table-box">
            <table class="show-table">
                <thead>
                <tr>
                    <th>客户名称</th>
                    <th>项目名称</th>
                    <th>项目签订时间</th>
                    <th>业务填写人</th>
                    <th>联系人</th>
                    <th>联系方式</th>
                    <th>项目金额</th>
                    <th>付款方式</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for customer in page.object_list %}
                    <tr>
                        <td>{{ customer.name }}</td>
                        <td>{{ customer.project_name }}</td>
                        <td>{{ customer.project_date }}</td>
                        <td>{{ customer.user_id }}</td>
                        <td>{{ customer.contact }}</td>
                        <td>{{ customer.tel }}</td>
                        <td>{{ customer.project_amount }}</td>
                        <td>{{ customer.payment_method }}</td>
                        <td>
                            {% if request.session.user_identity %}
                            <a href="{% url 'BPlan:customer_tracking' %}?id={{ customer.id }}">添加跟踪记录</a>
                            {% endif %}
                            <a href="{% url 'BPlan:customer_show_detail_html' %}?id={{ customer.id }}">详细信息</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            $('option').each(function () {
                if ($(this).val() === '{{ search_type }}') {
                    $(this).attr('selected', 'selected');
                } else {
                    $(this).removeAttr('selected');
                }
            })
        })
    </script>
{% endblock %}