:root {
    --bkcolor: #1f8dd6;
    --header-bkcolor: #2d3e50;
    --header-height: 50px
}

body {
    background-color: var(--bkcolor);
    font-family: "微软雅黑";
    /*min-width: 1100px;*/
}

.body-right{
    margin-left: 17em;
}

.body-title {
    font-size: 2.5em;
    text-align: center;
    width: 85%;
    margin: 70px auto;
    padding: 40px 0;
    color: white;
    border-bottom: white solid 2px;
    letter-spacing: 0.5em;
}

.header {
    background-color: var(--header-bkcolor);
    /*height: var(--header-height);*/
    line-height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    width: 17em;
    height: 100%;
    /*min-width: inherit;*/
    z-index: 999;
    overflow-y: scroll;
    color: floralwhite;
    transition: left 0.5s;
    -webkit-transition: left 0.5s;
    /*transition: left 0.5s;*/
    /*-webkit-transition: left 0.5s;*/
}

.header-logo {
    /*float: left;*/
    /*color: floralwhite;*/
    height: var(--header-height);
    padding: 0 10px 0 10px;
    text-align: center;
    font-size: 1.5em;
}

.header-menu-ul {
    /*height: var(--header-height);*/
    /*margin: 0;*/
    padding-left: 0;
}

.header-menu-li {
    /*float: left;*/
    /*height: var(--header-height);*/
    line-height: var(--header-height);
    list-style: none;
    padding: 0;
    margin: 0;
    /*display: inline-block;*/
}

.header-line{
    border: none;
    height: 1px;
    margin: 0;
    background: white;
}

.header-menu-a{
    display: block;
    /*width: 100px;*/
    height: var(--header-height);
    /*padding: 0 1em;*/
    padding-left: 1em;
    line-height: var(--header-height);
    /*text-align: center;*/
    vertical-align: bottom;
    color: floralwhite;
    font-weight: lighter;
    font-size: 1.3em;
    text-decoration: none;
    transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
}

.header-menu-a:hover {
    /*color: #4ab2f6;*/
    background-color: #3d4e60;
}

.header-button {
    display: none;
}

.header-button-a {
    background-color: var(--bkcolor);
    height: 40px;
    margin: 5px;
    padding: 0;
    text-align: center;
    line-height: 40px;
    border-radius: 0;
    border: var(--bkcolor) 1px solid;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
}

.header-button-a:hover {
    color: floralwhite;
    background-color: transparent;
}

.header-user {
    display: none;
}

.header-user-name{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.1em;
    letter-spacing: 0.2em;
}
.header-button-a-logout{
    background-color: orangered;
    border: orangered 1px solid;
}

.header-picker{
    height: 1em;
    line-height: 1em;
    background-color: var(--header-bkcolor);
    width: 1em;
    position: fixed;
    top: 0;
    text-align: center;
    color: floralwhite;
    padding: 0.1em;
    font-size: 2em;
}


.footer{
    text-align: center;
    color: white;
    z-index: 4;
    background-color: var(--bkcolor);
    margin-left: 17em;
}
.code{
    display: inline-block;
    vertical-align: top;
    border-radius: 4px;
    height: 38.8px;
}
.iconfont{
    font-size: unset;
}
@media only screen and (max-width: 768px){
    .header{
        left: -17em;
        font-size: 80%;
    }
    .body-right{
        margin-left: 0;
    }
    .footer{
        margin-left: 0;
        font-size: 80%;
    }

    .body-left:hover .header{
        left: 0;
    }

    .body-title{
        font-size: 1.5em;
        padding: 20px;
        letter-spacing: normal;
        margin: 20px auto;
    }
    .header-menu-li {
        line-height: calc(0.7 * var(--header-height));
    }
    .header-menu-a{
        height: calc(0.7 * var(--header-height));
        line-height: calc(0.7 * var(--header-height));
    }
}