:root {
    --bkcolor: #1f8dd6;
    --header-bkcolor: #2d3e50;
    --header-height: 50px
}

body {
    background-color: var(--bkcolor);
    font-family: "微软雅黑";
    min-width: 1100px;
}

.body-title {
    font-size: 2.5em;
    text-align: center;
    width: 85%;
    margin: 70px auto;
    padding: 40px 0;
    color: white;
    border-bottom: white solid 2px;
    letter-spacing: 0.5em;
}


.header {
    background-color: var(--header-bkcolor);
    height: var(--header-height);
    line-height: var(--header-height);
    position: fixed;
    top: 0;
    width: 100%;
    min-width: inherit;
    z-index: 999;
}

.header-logo {
    float: left;
    color: floralwhite;
    height: var(--header-height);
    padding: 0 10px 0 10px;
    text-align: center;
    font-size: 1.5em;
}

.header-menu {
    float: left;
    margin-left: 20px;
    height: var(--header-height);
}

.header-menu-ul {
    height: var(--header-height);
    margin: 0;
    padding: 0;
}

.header-menu-li {
    float: left;
    height: var(--header-height);
    line-height: var(--header-height);
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.header-menu-a{
    display: block;
    /*width: 100px;*/
    height: var(--header-height);
    padding: 0 1em;
    margin: 0 auto;
    line-height: var(--header-height);
    text-align: center;
    vertical-align: bottom;
    color: floralwhite;
    font-weight: 700;
    font-size: 1.1em;
    text-decoration: none;
}

.header-menu-a:hover {
    color: #4ab2f6;
}

.header-menu-select {
    color: #4ab2f6;
}

.header-menu-has-children {
    overflow: hidden;
    background-color: #2D3E50;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
}

.header-menu-children {
    font-weight: 500;
    font-size: 1em;
}

.header-menu-has-children:hover {
    height: auto;
}

.header-button {
    float: right;
    margin-right: 10px;
    display: none;
}

.header-button-a {
    display: inline-block;
    background-color: var(--bkcolor);
    height: 40px;
    width: 4em;
    margin: 5px 0;
    padding: 0 20px;
    line-height: 40px;
    border-radius: 0;
    border: var(--bkcolor) 1px solid;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
}

.header-button-a:hover {
    color: floralwhite;
    background-color: transparent;
}

.header-user {
    float: right;
    margin-right: 10px;
    display: none;
    height: var(--header-height);
}

.header-user-icon{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 3px;
    padding: 5px;
    vertical-align: middle;
    border: solid var(--bkcolor) 2px;
    border-radius: 22px;
}
.header-user-name{
    height: var(--header-height);
    padding: 0;
    margin: 0;
    line-height: var(--header-height);
    text-align: center;
    color: floralwhite;
    font-size: 1.1em;
    letter-spacing: 0.2em;
}
.header-button-a-logout{
    background-color: orangered;
    border: orangered 1px solid;
    margin-left: 20px;
    width: auto;
}

.footer{
    text-align: center;
    color: white;
    z-index: 4;
}
.code{
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
}
.error{
    color: red;
    height: 1.5em;
    width: 100%;
    font-size: 1.2em;
    text-align: center;
    line-height: 1.5em;
}