:root {
    --bkcolor: #1f8dd6;
    --header-bkcolor: #2d3e50;
    --header-height: 50px
}
@media (max-width: 1100px){
    .header-menu{
        overflow-x: scroll;
    }
}
body {
    background-color: var(--bkcolor);
    font-family: "微软雅黑";
    /*min-width: 1100px;*/
}

.body-right{
    margin-left: 17em;
}

.body-title {
    font-size: 2.5em;
    text-align: center;
    width: 85%;
    margin: 70px auto;
    padding: 40px 0;
    color: white;
    border-bottom: white solid 2px;
    letter-spacing: 0.5em;
}


.header {
    background-color: var(--header-bkcolor);
    /*height: var(--header-height);*/
    line-height: var(--header-height);
    position: fixed;
    top: 0;
    width: 17em;
    height: 100%;
    /*min-width: inherit;*/
    z-index: 999;
    overflow-y: scroll;
    color: floralwhite;
}

.header-logo {
    /*float: left;*/
    /*color: floralwhite;*/
    height: var(--header-height);
    padding: 0 10px 0 10px;
    text-align: center;
    font-size: 1.5em;
}

.header-menu-ul {
    /*height: var(--header-height);*/
    /*margin: 0;*/
    padding-left: 0;
}

.header-menu-li {
    /*float: left;*/
    /*height: var(--header-height);*/
    line-height: var(--header-height);
    list-style: none;
    padding: 0;
    margin: 0;
    /*display: inline-block;*/
}

.header-line{
    border: none;
    height: 1px;
    margin: 0;
    background: white;
}

.header-menu-a{
    display: block;
    /*width: 100px;*/
    height: var(--header-height);
    /*padding: 0 1em;*/
    padding-left: 1em;
    line-height: var(--header-height);
    /*text-align: center;*/
    vertical-align: bottom;
    color: floralwhite;
    font-weight: lighter;
    font-size: 1.3em;
    text-decoration: none;
    transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;

}

.header-menu-a:hover {
    /*color: #4ab2f6;*/
    background-color: #3d4e60;
}

.header-menu-select {
    color: #4ab2f6;
}

.header-button {
    /*float: right;*/
    margin-right: 10px;
    display: none;
}

.header-button-a {
    display: inline-block;
    background-color: var(--bkcolor);
    height: 40px;
    width: 4em;
    margin: 5px 0;
    padding: 0 20px;
    line-height: 40px;
    border-radius: 0;
    border: var(--bkcolor) 1px solid;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
}

.header-button-a:hover {
    color: floralwhite;
    background-color: transparent;
}

.header-user {
    /*float: right;*/
    margin-right: 10px;
    display: none;
    height: var(--header-height);
}

.header-user-icon{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 3px;
    padding: 5px;
    vertical-align: middle;
    border: solid var(--bkcolor) 2px;
    border-radius: 22px;
}
.header-user-name{
    height: var(--header-height);
    padding: 0;
    margin: 0;
    line-height: var(--header-height);
    text-align: center;
    /*color: floralwhite;*/
    font-size: 1.1em;
    letter-spacing: 0.2em;
}
.header-button-a-logout{
    background-color: orangered;
    border: orangered 1px solid;
    margin-left: 20px;
    width: auto;
}

.footer{
    text-align: center;
    color: white;
    z-index: 4;
}
.code{
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
}
.error{
    color: red;
    height: 1.5em;
    width: 100%;
    font-size: 1.2em;
    text-align: center;
    line-height: 1.5em;
}