.detail{
    width: 75%;
    margin: 0 auto;
    color: white;
    font-weight: lighter;
    font-size: 1.2em;
    line-height: 2em;
}
.detail-header{
    text-align: left;
    padding: 5px;
    /*border-bottom: solid white 1px;*/
}
.detail-body{
    padding: 0 2em;
    border-bottom: solid white 1px;
    border-top: solid white 1px;
}
.detail-footer{
    /*border-bottom: solid white 1px;*/
    width: 50%;
    min-width: 300px;
    margin: 0 auto;
}
.detail-footer button{
    display: block;
    height: 2.5em;
    width: 90%;
    margin: 1em auto 1em auto;
    padding: 0;
    background-color: var(--bkcolor);
    border: solid white 2px;
    border-radius: 5px;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
}
.detail-footer button:hover{
    color: var(--bkcolor);
    background-color: white;
}
@media screen and (max-width: 768px){
    .detail{
        width: 100%;
        color: white;
        font-size: 1em;
    }
    .detail-body{
        padding: 0 1em;
    }
}