.form{
    margin: 0 auto;
    width: 400px;
    /*margin-bottom: 100px;*/
    padding: 20px;

}
form{
    animation: formIn 1s;
    -moz-animation: formIn 1s;	/* Firefox */
    -webkit-animation: formIn 1s;	/* Safari 和 Chrome */
    -o-animation: formIn 1s;	/* Opera */
}
/*form载入动画*/
@keyframes formIn
{
0% {margin-left: -50vw; opacity: 0;margin-right: 30vw;}
80% {margin-left: 5vw; margin-right: -5vw;}
100% {margin-left: 0; opacity: 1;margin-right: 0;}
}

@-moz-keyframes formIn /* Firefox */
{
from {margin-left: -50vw; opacity: 0;margin-right: 30vw;}
to {margin-left: 0; opacity: 1;margin-right: 0;}
}

@-webkit-keyframes formIn /* Safari 和 Chrome */
{
from {margin-left: -50vw; opacity: 0;margin-right: 30vw;}
to {margin-left: 0; opacity: 1;margin-right: 0;}
}

@-o-keyframes formIn /* Opera */
{
from {margin-left: -50vw; opacity: 0;margin-right: 30vw;}
to {margin-left: 0; opacity: 1;margin-right: 0;}
}


.form label{
    color: white;
}

.pure-form-aligned .pure-control-group label {
    width: 4em;
}
.pure-form-aligned .pure-control-group input {
    width: 17em;
}
.pure-form-aligned .pure-control-group select {
    width: 17em;
    padding: 0 .6em;
    height: 38.8px;
}

.form-button{
    display: block;
    height: 2.5em;
    width: 90%;
    margin: 1em auto 0 auto;
    padding: 0;
    background-color: var(--bkcolor);
    border: solid white 2px;
    border-radius: 5px;
    color: white;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
}
.form-button:hover{
    color: var(--bkcolor);
    background-color: white;
}