.form{
    margin: 0 auto;

}
/*form{*/
/*    animation: formIn 1s;*/
/*    -moz-animation: formIn 1s;	!* Firefox *!*/
/*    -webkit-animation: formIn 1s;	!* Safari 和 Chrome *!*/
/*    -o-animation: formIn 1s;	!* Opera *!*/
/*}*/
/*!*form载入动画*!*/
/*@keyframes formIn*/
/*{*/
/*0% {margin-left: -50vw; opacity: 0;margin-right: 30vw;}*/
/*80% {margin-left: 5vw; margin-right: -5vw;}*/
/*100% {margin-left: 0; opacity: 1;margin-right: 0;}*/
/*}*/

/*@-moz-keyframes formIn !* Firefox *!*/
/*{*/
/*0% {margin-left: -50vw; opacity: 0;margin-right: 30vw;}*/
/*80% {margin-left: 5vw; margin-right: -5vw;}*/
/*100% {margin-left: 0; opacity: 1;margin-right: 0;}*/
/*}*/

/*@-webkit-keyframes formIn !* Safari 和 Chrome *!*/
/*{*/
/*0% {margin-left: -50vw; opacity: 0;margin-right: 30vw;}*/
/*80% {margin-left: 5vw; margin-right: -5vw;}*/
/*100% {margin-left: 0; opacity: 1;margin-right: 0;}*/
/*}*/

/*@-o-keyframes formIn !* Opera *!*/
/*{*/
/*0% {margin-left: -50vw; opacity: 0;margin-right: 30vw;}*/
/*80% {margin-left: 5vw; margin-right: -5vw;}*/
/*100% {margin-left: 0; opacity: 1;margin-right: 0;}*/
/*}*/


.form label{
    color: white;
}
.pure-form .pure-control-group{
    text-align: center;
}

.pure-form .pure-control-group label {
    min-width: 4em;
}
.pure-form .pure-control-group input {
    width: 17em;
}
.pure-form .pure-control-group select {
    width: 17em;
    padding: 0 .6em;
    height: 38.8px;
}
.pure-form .pure-control-group textarea{
    width: 17em;
    /*min-width: 17em;*/
    resize: vertical;
    /*height: 34em;*/
}
.form-button{
    display: block;
    height: 2.5em;
    width: 90%;
    max-width: 400px;
    margin: 1em auto 0 auto;
    padding: 0;
    background-color: var(--bkcolor);
    border: solid white 2px;
    border-radius: 5px;
    color: white;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
}
.form-button:hover{
    color: var(--bkcolor);
    background-color: white;
}
.error{
    color: red;
    height: 1.5em;
    width: 100%;
    font-size: 1.2em;
    text-align: center;
    line-height: 1.5em;
}

@media only screen and (max-width: 768px) {
    .code{
        height: 38.8px;
        vertical-align: top;
    }
    .pure-form .pure-control-group textarea{
        resize: none;
        height: 10em;
    }
}
@media screen and (max-width: 480px) {
    .pure-form .pure-control-group{
        text-align: left;
    }
    .form{
        width: 273px;
    }
    #code{
        width: calc(17em - 100px - 5px);
        display: inline-block;
    }
    .error{
        font-size: 1em;
        height: 1.2em;
        line-height: 1.2em;
    }
}